<section>
  <h1 class="text-center">Posts</h1>
  <div class="row"> 
    <div class="col-md-8 mx-auto">
      <ul class="list-unstyled posts">
        <%= render @posts %>
      </ul>
    </div>
  </div>
</section>


